<div class="row">
    <div class="col-xs-12">
        <h1>Admin</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <h2>Connected Clients ([amount of clients])</h2>
        <table class="table table-striped" id="connected-clients"></table>

        <!-- TODO move to SliderControlDirective like BarChartDirective -->
        <h2>Stocks</h2>
        
        <dl>
            <dt>Umbrella Co.</dt>
            <dd>
                <input class="bar umbrellacorp" type="range" min="10" max="200" step="10" value="100"/>
            </dd>
        </dl>

        <dl>
            <dt>Initrode</dt>
            <dd>
                <input class="bar initrode" type="range" min="10" max="200" step="10" value="100"/>
            </dd>
        </dl>

        <dl>
            <dt>CollaboSmart</dt>
            <dd>
                <input class="bar collabosmart" type="range" min="10" max="200" step="10" value="100"/>
            </dd>
        </dl>
    </div>
    <div class="col-xs-6">
        <h2>Log</h2>
        <table class="table table-condensed" id="log"></table>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>
            Make sure to have another session (in another browser or incognito window) open on the home page.
            Use the sliders to update the stock values, which should update on any windows that have the home page open.
            Click the envelope button behind clients in the Connected Clients list to send messages to that client.
        </p>
    </div>
</div>