<div class="row">
    <div class="col-xs-12">
        <h1>Admin</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <h2>Connected Clients ([amount of clients])</h2>
        <table class="table table-striped" id="connected-clients"></table>

        <!-- TODO move to SliderControlDirective like BarChartDirective -->
        <h2>Stocks</h2>
        
        <dl>
            <dt>Umbrella Co.</dt>
            <dd>
                <input class="bar umbrellacorp" type="range" min="10" max="200" step="10" value="100"/>
            </dd>
        </dl>

        <dl>
            <dt>Initrode</dt>
            <dd>
                <input class="bar initrode" type="range" min="10" max="200" step="10" value="100"/>
            </dd>
        </dl>

        <dl>
            <dt>CollaboSmart</dt>
            <dd>
                <input class="bar collabosmart" type="range" min="10" max="200" step="10" value="100"/>
            </dd>
        </dl>
    </div>
    <div class="col-xs-6">
        <h2>Log</h2>
        <table class="table table-condensed" id="log"></table>
    </div>
</div>
