$primaryColor: green;

html, body {
    height: 100%;

    body.login {
        $fromColor: #fff;
        $toColor: #f0f0f0;
        background: linear-gradient(
            -45deg,
            $toColor 25%, $fromColor 25%,
            $fromColor 50%, $toColor 50%,
            $toColor 75%, $fromColor 75%
        );
        background-size: 200px 200px;
    }
}

.top-row {
    margin-top: 5px;
}

.header {
    background: $primaryColor;
    color: white;
    margin-top: 10px;

    .login & {
        border-bottom: 5px solid black;
    }
}

#main {
    min-height: 600px;
}

#connected-clients {
    .current .type > .glyphicon {
        color: $primaryColor;
    }

    .glyphicon {
        cursor: pointer;
    }
}

#log {
    display: block;
    height: 300px;
    overflow-y: scroll;

    .timestamp {
        white-space: nowrap;
    }
}

footer {
    background: #ececec;
    height: 300px;
    padding-top: 50px;
}

@import "barchart";